.home {
  display: flex;
  max-height: calc(100vh - 50px);
  background-image: linear-gradient(
    to right top,
    #5b77da,
    #0091e6,
    #00a5db,
    #00b4bf,
    #00be9e,
    #46c58e,
    #6dca7d,
    #90ce6c,
    #a3d46c,
    #b6d96c,
    #c8de6e,
    #dbe370
  );
}

.home-left {
  flex: 1;
}

.left-box {
  margin: 180px 20px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.line-two > .name {
  font-size: 27px;
  color: rgb(59, 56, 56);
}

.home-right {
  flex: 1;
}

.right-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-img {
  height: 100%;
  width: 70%;
}

.react-icons {
  display: flex;
  gap: 26px;
  margin-top: 10px;
}

.react-icons-class:hover {
  transform: scale(1.2);
  transition: 0.5s all;
}
