.project-container {
  width: 480px;
  height: 535px;
  margin: 20px 10px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.project-img {
  width: 480px;
  height: 280px;
}

.imgfile {
  width: 480px;
  height: 280px;
  object-fit: cover;
}

.project-details {
  padding: 10px;
}

.project-title {
  font-size: 26px;
  letter-spacing: 1px;
}

.project-details-header {
  display: flex;
  justify-content: space-between;
}

.project-link {
  display: flex;
  gap: 8px;
  margin-right: 12px;
}

.project-desc {
  margin: 10px 0;
  letter-spacing: 1px;
}

.tags {
  display: flex;
  gap: 15px;
}

.tagmap {
  background-color: rgb(218, 213, 213);
  color: darkslategray;
  padding: 5px;
  border-radius: 15px;
  font-weight: 400;
}

.tagmap:hover {
  color: rgb(87, 102, 102);
  transform: scale(1.05);
  transition: 0.2s all;
}

.link-icon:hover {
  transform: scale(1.1);
  transition: 0.2s all;
}

.gitscImg {
  height: 30px;
  width: 30px;
}

.gitbscImg {
  height: 26px;
  width: 26px;
}

.projecttime {
  font-size: 16px;
  font-weight: 500;
  color: rgb(39, 39, 39);
}

.class-button {
  display: flex;
  gap: 12px;
  padding: 10px 0px;
}

.code-button {
  border: 1px solid rgb(75, 170, 207);
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 5px;
}

.code-button:hover {
  transform: scale(1.1);
  transition: 0.2s all;
}

a {
  text-decoration: none;
  color: black;
}
