.projects {
  padding: 50px;
  background-image: linear-gradient(
    to right top,
    #5b77da,
    #0091e6,
    #00a5db,
    #00b4bf,
    #00be9e,
    #46c58e,
    #6dca7d,
    #90ce6c,
    #a3d46c,
    #b6d96c,
    #c8de6e,
    #dbe370
  );
}

.projects-header {
  margin-left: 120px;
}

.project-cred {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 120px;
  margin-top: 10px;
}

.project-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
