.projects {
  padding: 50px;
  background-color: rgb(196, 189, 189);
}

.projects-header {
  margin-left: 120px;
}

.project-cred {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 120px;
  margin-top: 10px;
}

.project-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
